extends layout 

block content 
    h1=title 

    ul(class="list-nobullet")
        each ingredient in ingredient_list 
            li 
                a(href=ingredient.url) #{ingredient.name}
                p £#{ingredient.priceGBP}
                p In stock:  #{ingredient.quantity}
                hr
        else 
            li There are no ingredients