extends layout 

block content 
    h1=title

    p #[strong Description: ] #{description}
    hr
    h4 Ingredients 
    ul(class="list-nobullet") 
        each ingredient in ingredients
            li 
                a(href=ingredient.url) #{ingredient.name}
                p(class= ingredient.quantity < 5 ? "stock-status-low" : "stock-status-ok") (#{ingredient.quantity} in stock)
    hr
    p
        a(href=recipe.url + "/delete") Delete Recipe 
    p 
        a(href=recipe.url + "/update") Update Recipe